<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${product}" action="/product/create" method="post">
    <label for="id">ID:</label>
    <input th:field="*{id}" id="id"><br>
    <label for="name">Name:</label>
    <input th:field="*{name}" id="name"><br>
    <label for="des">Description:</label>
    <input th:field="*{description}" id="des"><br>
    <label for="manu">Manufacturer:</label>
    <input th:field="*{manufacturer}" id="manu"><br>
    <button>save</button>
</form>
</body>
</html>