<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/product/update" th:object="${product}" method="post">
    <input th:field="*{id}" type="hidden">
    <label for="name">Name:</label>
    <input th:field="*{name}" id="name" th:value="${product.name}"><br>
    <label for="des">Description:</label>
    <input th:field="*{description}" id="des" th:value="${product.description}"><br>
    <label for="manu">Manufacturer:</label>
    <input th:field="*{manufacturer}" id="manu" th:value="${product.manufacturer}"><br>
    <button>Edit</button>
</form>
</body>
</html>